/* *
*** body
*/

body {
	background-image:url("images/uwe_small.gif");
	background-repeat:no-repeat;
	background-position: 99% 10px;
}

/* ************************** 
*** lecturer and student menu
*/

div.menu {
	border-top: black solid 2px;
	border-bottom: black solid 2px;
	margin-bottom: 30px;
}

div.menu span.menuLinks {
	text-align: right;
}

div.menu span.menuLinks>ul {
	list-style: none;
}


/* ************************** 
*** page title
*/

div.pageTitle {
	border-top: black solid 2px;
	margin-bottom: 30px;
}


/* **************************
*** login forms
 */

div.loginForm {
	clear: both;
	margin-bottom: 30px;
}

div.loginForm form.lecturerLoginForm {
	background-color: #cc9999;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div.loginForm form.studentLoginForm {
	background-color: #99cccc;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

/* ************************** 
*** instructions
*/

div.instructions {
    font-size: 14px;
    font-family: sans-serif;
	color: black;
    background-color: #eeeeee;
	border: red 4px dashed;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

	margin-bottom: 30px;
}

div.instructions>h3 {
	margin: 3px;
}

/* ************************** 
*** custom error messages
*/

div.error {
    font-size: 14px;
    font-family: sans-serif;
	color: red;
    background-color: #ffcccc;
	border: red 4px solid;

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

	margin-bottom: 30px;
}

div.instructions>h3 {
	margin: 3px;
}

/*************************** 
*** monospace processing text
*/

div.processingText {
	font-family: monospace;
	white-space: pre;
	color: lime;
	background-color: black;
	padding: 10px;
}

div.processingText>a:link {
	color: lime;
}

div.processingText>a:visited {
	color: lime;
}

/* ************************** 
*** mp3 audio player
*/

div.audioPlayer {
    margin-left: auto;
    margin-right: auto;
    
    width: 330px;
    height: 80px;
    padding: 3px;
    border: black 2px solid;
	
	margin-top: 10px;
	margin-bottom: 20px;
}

/* ************************** 
*** mp3 player buttons
*/

span.listenButton {
    border-style:solid;
    border-width: 1px;
    border-color: #FFFFFF #666666 #666666 #FFFFFF;
    
    font-family: sans-serif;
    background-color: #cccccc;
    float: right;
    padding: 3px;
}

span.listenButton:hover {
    background-color: #000000;
    color: #ffffff;
}

span.listenButton:active {
    background-color: #cc0000;
    color: #ffffff;
}

/* ************************** 
*** timeline
*/

div.timeline {
	border-top: black solid 2px;
	margin-bottom: 30px;
}

table.timeline {
	font-family: sans-serif;
	font-size: 12px;
}

td.timelineUntouched {
    background-color: #ccccff;
	height: 32px;
	color: black;
}
	td.timelineUntouched>a {
		color: black;
	}

td.timelineAllocated {
    background-color: #aa0000;
	height: 32px;
	color: yellow;
}
	td.timelineAllocated>a {
		color: yellow;
	}

td.timelineApproved {
    background-color: #00bb00;
	height: 32px;
	color: white;
}
	td.timelineApproved>a {
		color: white;
	}

/* ************************** 
*** other segment colours
*/

span.segmentUntouched {
	background-color: #ccccff;
	color: black;
}

span.segmentAllocated {
	background-color: #aa0000;
	color: yellow;
}

span.segmentApproved {
	background-color: #00bb00;
	color: white;
}


/* ************************** 
*** student overview
*/

div.studentOverview {
	border-top: black solid 2px;
	margin-bottom: 30px;
}

table.studentOverview {
	font-size: 12px;
	font-family: sans-serif;
}

table.studentOverview th {
	text-align: left;
}

table.studentOverview td {
	background-color: #ebebeb;
	border-style: solid;
	border-width: 1px;
}

table.studentData {
	font-size: inherit;
	font-family: inherit;
}

table.studentData th {
	text-align: left;
	border: 1px solid black;
	background-color: #cccccc;
}

table.studentData td {
	background-color: white;
	border-left: 1px solid black;
}

/* ************************** 
*** approval form
*/

div.moderationForm {
	border-top: black solid 2px;
	margin-bottom: 30px;
}

div.moderationTranscriptText {
    background-color: #aaaaaa;
}

/* ************************** 
*** student evaluation form
*/

